# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "nuget"
    directories: 
      - "/project-templates/content/umbraco-headless-bff/**/*"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "*"
        update-types: 
          - "version-update:semver-major"
  
  - package-ecosystem: "dotnet-sdk"
    directory: "/project-templates/content/umbraco-headless-bff/"
    schedule:
      interval: "weekly"
      day: "wednesday"
    open-pull-requests-limit: 1
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "*"
        update-types: 
          - "version-update:semver-major"
